* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: auto;
    max-width: 1000px;
}

.title {
    background-color: #48C5CE;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 26px;
}

section {
    max-width: 1000px;
    margin: auto;
    background-image: url(../images/people.jpg);
    overflow: hidden;
    background-size: cover;
}

.form {
    background-color: #bcbec0c5;
    max-width: 250px;
    float: right;
    margin: 30px;
    padding: 20px;
}

h2 {
    font-size: 17px;
}

p {
    margin: 10px 0 20px 0;
    font-size: 15px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
    box-sizing: border-box;
    border: none;
    background-color: white;
}

select {
    padding-left: 5px;
    height: 35px;
    margin-bottom: 10px;
    width: 250px;
    box-sizing: border-box;
    border: none;
}

input[type="submit"] {
    background-color: #48C5CE;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

footer {
    background-color: #202121;
    /* padding: 40px; */
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.picture {
    width: 160px;
    margin-top: 40px;
}

.description {
    color: white;
    display: inline-block;
    max-width: 400px;
    margin-left: 40px;
    text-align: left;
}

@media screen and (max-width:620px) {}


.form {
    float: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.picture {
    margin-bottom: 10px;
}

.titlePalestrante {
    text-align: center;
}

.description {
    display: block;
    margin: auto;
    text-align: left;
}

.qualifyPalestrante {
    padding-bottom: 20px;
}

@media screen and (max-width:400px) {

    .qualifyPalestrante,
    .aboutPalestrante {
        font-size: 4vw;
    }
    .aboutPalestrante{
        margin: 15px 30px;
    }
    .qualifyPalestrante{
        margin: 0 30px;
    }
}